### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [56]:
Total_Players = purchase_data['SN'].nunique()

Total_Players_df = pd.DataFrame({'Total Players':[Total_Players]})
Total_Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
#calculate unique items
unique_items = purchase_data['Item ID'].nunique()

In [58]:
#calculate average price
average_price = purchase_data['Price'].mean()

In [59]:
#calculate number of Purchases 
num_of_purch= purchase_data['Purchase ID'].count()

In [60]:
#calculate total revenue 
total_Rev = purchase_data['Price'].sum()

In [61]:
#Create Dataframe with new calculations
purch_analysis_df = pd.DataFrame({'Number of Unique Items':[unique_items], 
                                  'Average Price':[average_price], 
                                  'Number of Purchases':[num_of_purch], 
                                  'Total Revenue':[total_Rev]})

In [62]:
#Convert Average Price to an integer so it can be mapped as currency 
purch_analysis_df["Average Price"] = pd.to_numeric(purch_analysis_df["Average Price"])

In [63]:
#Map the Average Price and Total Revenue as US dollars and print dataframe 
purch_analysis_df['Average Price'] = purch_analysis_df['Average Price'].map('${:.2f}'.format)
purch_analysis_df['Total Revenue'] = purch_analysis_df['Total Revenue'].map('${:.2f}'.format)

purch_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
#Create new DataFrame wiht out duplicate SN values
purch_data_nodup_SN = purchase_data.drop_duplicates("SN")

In [65]:
#Group by gender to get the gender count and create new DF 
group_gender = purch_data_nodup_SN["Gender"].value_counts()
group_gender_df = pd.DataFrame(group_gender)

In [66]:
#calculate gender average and create new DF
group_gender_ave = (purch_data_nodup_SN["Gender"].value_counts())/(purch_data_nodup_SN['SN'].count())*100
group_gender_ave_df = pd.DataFrame(group_gender_ave)

In [67]:
#Merge 2 gender DFs together 
merge_gender_count = pd.merge(group_gender_df, group_gender_ave_df, left_index=True, right_index=True)

In [68]:
#Rename the columns in the merged DF 
merge_gender_count.rename(columns={'Gender_x': 'Total Count', 'Gender_y':'Percentage of Players'}, inplace=True)

In [69]:
#Map format for Percentage of Players
merge_gender_count["Percentage of Players"] = merge_gender_count["Percentage of Players"].map("{:.2f}".format)

In [70]:
merge_gender_count

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
#Group by gender to get a count per gender 
purch_data_Gender_count = purchase_data.groupby(['Gender']).count()
#Remove columns that are not needed 
purch_data_Gender_count = purch_data_Gender_count.drop('SN', 1)
purch_data_Gender_count = purch_data_Gender_count.drop('Age', 1)
purch_data_Gender_count = purch_data_Gender_count.drop('Item ID', 1)
purch_data_Gender_count = purch_data_Gender_count.drop('Item Name', 1)
purch_data_Gender_count = purch_data_Gender_count.drop('Price', 1)
#Rename column to Purchase Count
purch_data_Gender_count.rename(columns={'Purchase ID': 'Purchase Count'}, inplace=True)

In [72]:
#Group by gender to find mean of price to get average purchase price 
purch_data_Gender_ave_purch = purchase_data.groupby(['Gender']).mean()
#Drop the columns that are not needed from data frame 
purch_data_Gender_ave_purch = purch_data_Gender_ave_purch.drop('Purchase ID', 1)
purch_data_Gender_ave_purch = purch_data_Gender_ave_purch.drop('Age', 1)
purch_data_Gender_ave_purch = purch_data_Gender_ave_purch.drop('Item ID', 1)
#rename column to Average Purchase Price 
purch_data_Gender_ave_purch.rename(columns={'Price': 'Average Purchase Price'}, inplace=True)

In [73]:
#Group data by gender and find sum of price column to get Total Purchase Value 
purch_data_Gender_sum = purchase_data.groupby(['Gender']).sum()
#Drop columns that are not needed 
purch_data_Gender_sum = purch_data_Gender_sum.drop('Purchase ID', 1)
purch_data_Gender_sum = purch_data_Gender_sum.drop('Age', 1)
purch_data_Gender_sum = purch_data_Gender_sum.drop('Item ID', 1)
#Rename the Price column to Total Purchase Value 
purch_data_Gender_sum.rename(columns={'Price': 'Total Purchase Value'}, inplace=True)

In [74]:
#add Column header to merge_gender_count DF so it can be used as merge key 
merge_gender_count.index.rename('Gender', inplace=True)
#Merge the total purchase Data Frame with the Gender Count data frame to calculate the Ave total purchase per person
purch_data_Gender_ATP = pd.merge(purch_data_Gender_sum, merge_gender_count, on="Gender", how="outer")
#divide the total purchase by the total count of each gender to get ave total purchase
purch_data_Gender_ATP['Avg Total Purchase per Person'] = purch_data_Gender_ATP['Total Purchase Value']/purch_data_Gender_ATP['Total Count']
#Remove the unnecessary columns 
purch_data_Gender_ATP = purch_data_Gender_ATP.drop('Percentage of Players', 1)
purch_data_Gender_ATP = purch_data_Gender_ATP.drop('Total Count', 1)
purch_data_Gender_ATP = purch_data_Gender_ATP.drop('Total Purchase Value', 1)

In [75]:
#Merge all above data frames together to get Purchasing Analysis summary
Purch_Analysis_Merge1 = pd.merge(purch_data_Gender_count, purch_data_Gender_ave_purch, on="Gender", how="outer")
Purch_Analysis_Merge2 = pd.merge(Purch_Analysis_Merge1, purch_data_Gender_sum , on="Gender", how="outer")
Purch_Analysis_Merge3 = pd.merge(Purch_Analysis_Merge2, purch_data_Gender_ATP , on="Gender", how="outer")

In [76]:
#Map correct formatting to the columns containing currency 
Purch_Analysis_Merge3['Average Purchase Price'] = Purch_Analysis_Merge3['Average Purchase Price'].map('${:.2f}'.format)
Purch_Analysis_Merge3['Total Purchase Value'] = Purch_Analysis_Merge3['Total Purchase Value'].map('${:.2f}'.format)
Purch_Analysis_Merge3['Avg Total Purchase per Person'] = Purch_Analysis_Merge3['Avg Total Purchase per Person'].map('${:.2f}'.format)

In [77]:
Purch_Analysis_Merge3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [78]:
#Create Bins for the ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [79]:
#Group ages in to bins using pd.cut
purch_data_nodup_SN["Age Group"] = pd.cut(purch_data_nodup_SN["Age"], bins, labels=group_names)

C:\Users\jmleg\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [80]:
#Group and count data to get the total count for each age group
purch_data_Age_count = purch_data_nodup_SN.groupby(['Age Group']).count()

In [81]:
#Remove unnecessary columns
purch_data_Age_count = purch_data_Age_count.drop('Purchase ID', 1)
purch_data_Age_count = purch_data_Age_count.drop('SN', 1)
purch_data_Age_count = purch_data_Age_count.drop('Gender', 1)
purch_data_Age_count = purch_data_Age_count.drop('Item ID', 1)
purch_data_Age_count = purch_data_Age_count.drop('Item Name', 1)
purch_data_Age_count = purch_data_Age_count.drop('Price', 1)
#Change the name of the Age column to Total Count 
purch_data_Age_count.rename(columns={'Age': 'Total Count'}, inplace=True)
purch_data_Age_count.index.name = None

In [82]:
#Calculate the percentage of players and add it to the table 
purch_data_Age_count['Percentage of Players'] = purch_data_Age_count['Total Count']/purch_data_Age_count['Total Count'].sum()*100

In [83]:
#Map the forma of the Percentage of Players column to round to 2 decimals 
purch_data_Age_count["Percentage of Players"] = purch_data_Age_count["Percentage of Players"].map("{:.2f}".format)
purch_data_Age_count

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [84]:
#Group original purchase data by age based off the bins and group names used in the last table.
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

In [85]:
#Use group by to pivot the data and count the number of transactions in each age group
Purchasing_Analysis_Age_count = purchase_data.groupby(['Age Group']).count()
#Remove unnecessary columns from new dataframe
Purchasing_Analysis_Age_count = Purchasing_Analysis_Age_count.drop('SN', 1)
Purchasing_Analysis_Age_count = Purchasing_Analysis_Age_count.drop('Age', 1)
Purchasing_Analysis_Age_count = Purchasing_Analysis_Age_count.drop('Gender', 1)
Purchasing_Analysis_Age_count = Purchasing_Analysis_Age_count.drop('Item ID', 1)
Purchasing_Analysis_Age_count = Purchasing_Analysis_Age_count.drop('Item Name', 1)
Purchasing_Analysis_Age_count = Purchasing_Analysis_Age_count.drop('Price', 1)
#Rename purchase ID to Purchase Count
Purchasing_Analysis_Age_count.rename(columns={'Purchase ID': 'Purchase Count'}, inplace=True)

In [86]:
#Group age and calculate the mean of each group to get Average Purchase Price 
Purchasing_Analysis_Age_Ave = purchase_data.groupby(['Age Group']).mean()
#Drop unnecessary columns from data frame 
Purchasing_Analysis_Age_Ave = Purchasing_Analysis_Age_Ave.drop('Age', 1)
Purchasing_Analysis_Age_Ave = Purchasing_Analysis_Age_Ave.drop('Item ID', 1)
Purchasing_Analysis_Age_Ave = Purchasing_Analysis_Age_Ave.drop('Purchase ID', 1)
#Rename the Price column to Average Purchase Price
Purchasing_Analysis_Age_Ave.rename(columns={'Price': 'Average Purchase Price'}, inplace=True)

In [87]:
#Group age and calculate the sum of the columns to find the Total Purchase Value
Purchasing_Analysis_Age_Sum = purchase_data.groupby(['Age Group']).sum()
#Remove unnecessary columns from dataframe 
Purchasing_Analysis_Age_Sum = Purchasing_Analysis_Age_Sum.drop('Age', 1)
Purchasing_Analysis_Age_Sum = Purchasing_Analysis_Age_Sum.drop('Item ID', 1)
Purchasing_Analysis_Age_Sum = Purchasing_Analysis_Age_Sum.drop('Purchase ID', 1)
#Change the name of the Price Column to Total Purchase Value 
Purchasing_Analysis_Age_Sum.rename(columns={'Price': 'Total Purchase Value'}, inplace=True)

In [88]:
#Merge data frames together in to one table. 
Purch_Analysis_Age_Merge1 = pd.merge(Purchasing_Analysis_Age_count, Purchasing_Analysis_Age_Ave, on="Age Group", how="outer")
Purch_Analysis_Age_Merge2 = pd.merge(Purch_Analysis_Age_Merge1, Purchasing_Analysis_Age_Sum , on="Age Group", how="outer")

In [89]:
#Merge age count data for Avg Total Purchase per Person calculation. Need to add column name so data can be merged 
purch_data_Age_count.index.rename('Age Group', inplace=True)
Purch_Analysis_Age_Merge3 = pd.merge(Purch_Analysis_Age_Merge2, purch_data_Age_count , on="Age Group", how="outer")

In [90]:
#Calculate Avg Total Purchase Per Person by dividing Total Purchase Value and Total Count
Purch_Analysis_Age_Merge3['Avg Total Purchase per Person'] = Purch_Analysis_Age_Merge3['Total Purchase Value']/Purch_Analysis_Age_Merge3['Total Count']

In [91]:
#Drop unnecessary columns and the index name 
Purch_Analysis_Age_Merge3 = Purch_Analysis_Age_Merge3.drop('Percentage of Players', 1)
Purch_Analysis_Age_Merge3 = Purch_Analysis_Age_Merge3.drop('Total Count', 1)
Purch_Analysis_Age_Merge3.index.name = None

In [92]:
#Reorder indexes so that it matches example table 
Purch_Analysis_Age_Merge3 = pd.DataFrame(Purch_Analysis_Age_Merge3, index=["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+", "<10"])

In [93]:
#Map the formatting for the columns with currency 
Purch_Analysis_Age_Merge3['Average Purchase Price'] = Purch_Analysis_Age_Merge3['Average Purchase Price'].map('${:.2f}'.format)
Purch_Analysis_Age_Merge3['Total Purchase Value'] = Purch_Analysis_Age_Merge3['Total Purchase Value'].map('${:.2f}'.format)
Purch_Analysis_Age_Merge3['Avg Total Purchase per Person'] = Purch_Analysis_Age_Merge3['Avg Total Purchase per Person'].map('${:.2f}'.format)

In [94]:
Purch_Analysis_Age_Merge3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [95]:
#Group data by SN column and count number of times the SN occurs to find the total purchases per user
Purchase_Count = purchase_data.groupby(['SN']).count()
#Drop unnecessary columns
Purchase_Count = Purchase_Count.drop('Age', 1)
Purchase_Count = Purchase_Count.drop('Gender', 1)
Purchase_Count = Purchase_Count.drop('Item ID', 1)
Purchase_Count = Purchase_Count.drop('Item Name', 1)
Purchase_Count = Purchase_Count.drop('Price', 1)
Purchase_Count = Purchase_Count.drop('Age Group', 1)
#Rename Purchase ID to Purchase Count 
Purchase_Count.rename(columns={'Purchase ID': 'Purchase Count'}, inplace=True)

In [96]:
#Group by SN and add the data together to get the total purchase value 
Total_Purchase = purchase_data.groupby(['SN']).sum()
#Drop unnecessary columns
Total_Purchase = Total_Purchase.drop('Age', 1)
Total_Purchase = Total_Purchase.drop('Purchase ID', 1)
Total_Purchase = Total_Purchase.drop('Item ID', 1)
#Rename Price to Total Purchase 
Total_Purchase.rename(columns={'Price': 'Total Purchase Value'}, inplace=True)

In [97]:
#Merge the data from purchase count and total purchase data frames together 
Top_Spenders_Merge1 = pd.merge(Purchase_Count, Total_Purchase , on="SN", how="outer")
#Sort values in descending order by Purchase Value
Top_Spenders_Merge1 = Top_Spenders_Merge1.sort_values('Total Purchase Value', ascending=False)
#Calculate the Ave Purchase Price by dividing the Total purchase value by the purchase count  
Top_Spenders_Merge1['Average Purchase Price'] = Top_Spenders_Merge1['Total Purchase Value']/Top_Spenders_Merge1['Purchase Count']

In [98]:
#Reorder Columns
Top_Spenders_Merge1 = Top_Spenders_Merge1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

In [99]:
#Map formatting for Ave Purchase Price and Total Purchase Value to Currency
Top_Spenders_Merge1['Average Purchase Price'] = Top_Spenders_Merge1['Average Purchase Price'].map('${:.2f}'.format)
Top_Spenders_Merge1['Total Purchase Value'] = Top_Spenders_Merge1['Total Purchase Value'].map('${:.2f}'.format)

In [100]:
Top_Spenders_Merge1.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [165]:
#Retrieve the Item ID, Item Name, and Item Price columns
Most_Popular_items = purchase_data[["Item ID", "Item Name", "Price"]]

In [166]:
#Use group by to get the count of the amount of each Item sold
Most_Popular_items_by_ID = Most_Popular_items.groupby(['Item ID', 'Item Name']).count()
#Change the name of the price column to Purchase Count 
Most_Popular_items_by_ID.rename(columns={'Price': 'Purchase Count'}, inplace=True)

In [167]:
#Pull the Item ID, Name and Price columns and drop the duplicate lines
Item_Price = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
Unique_Item_Price = Item_Price.drop_duplicates("Item ID")

In [168]:
#Merge the 2 data frames together 
Most_Popular_Merge = pd.merge(Most_Popular_items_by_ID, Unique_Item_Price , on=("Item ID","Item Name"), how="outer")

In [169]:
#Calculate total purchase value 
Most_Popular_Merge['Total Purchase Value'] = Most_Popular_Merge['Purchase Count'] * Most_Popular_Merge['Price']

In [170]:
#Set index to Item ID and Item Name
Most_Popular_Merge = Most_Popular_Merge.set_index(['Item ID', 'Item Name'])

In [171]:
#Change Price column to Item Price 
Most_Popular_Merge.rename(columns={'Price': 'Item Price'}, inplace=True)
#Create a new DF to store the data without formatting for future sorting 
Most_Popular_Merge2 = Most_Popular_Merge.sort_values(['Total Purchase Value'], ascending=False)

In [172]:
#Map formatting to currency for Item Price and Total value data sets
Most_Popular_Merge['Item Price'] = Most_Popular_Merge['Item Price'].map('${:.2f}'.format)
Most_Popular_Merge['Total Purchase Value'] = Most_Popular_Merge['Total Purchase Value'].map('${:.2f}'.format)

In [173]:
#Reorder the items in Descending order from Purchase Count data set
Most_Popular_Merge = Most_Popular_Merge.sort_values(['Purchase Count'], ascending=False)

In [174]:
Most_Popular_Merge.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [179]:
#Format currency columns
Most_Popular_Merge2['Item Price'] = Most_Popular_Merge2['Item Price'].map('${:.2f}'.format)
Most_Popular_Merge2['Total Purchase Value'] = Most_Popular_Merge2['Total Purchase Value'].map('${:.2f}'.format)

In [180]:
Most_Popular_Merge2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [5]:
observable_trends = open("observable trends.txt", "w")

observable_trends.write(f'Observable trends include:\n')
observable_trends.write(f'\n')
observable_trends.write(f'1) Although there are more males then females playing this game female players tend to spend more per player then male players. This is a valuable statistic because gaming revenue can be potentially increased by marketing to more female gamers. \n')
observable_trends.write(f'\n')
observable_trends.write(f'2) 20-24 year old gamers make up the vast majority of players and pull in the most revenue. That being said, 30-39 year olds and players under 10 spend the most per person on this game. This could be beneficial information to gear marketing toward the age groups that spend more per player to boost revenue.\n')
observable_trends.write(f'\n')
observable_trends.write(f'3) The most popular items are in the $4 to $5 range. This seems to be a good price point based off the results of this analysis. Future additions to \n')
observable_trends.close()